:root {
  --bg-menu-container-toggle: #1d1c1f;
  --bg-submenus-toggle: #17161a;
  --bg-icon-dropdown: #17161a;
  --bg-hover-menu-items-toggle: #2d2b30ea;
  --bg-hover-submenus-items-toggle: #0e0d0f;
}

.site-header {
  /* background-color: rgb(82, 82, 82); */
  background: transparent;
  padding: 0rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  box-shadow: none;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

.site-header a {
  color: white;
}

.site-branding h1 {
  font-size: 1.3rem;
}

/* --------------
  Navigation
-------------- */
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
  line-height: 1.5;
}

@media screen and (max-width: 47.5em) {
  .site-header {
    position: absolute;
    background: transparent !important;
    box-shadow: none !important;
    padding: 1.5rem 3rem !important;
  }
  .main-navigation {
    line-height: 0;
  }
}

@media (max-width: 47.5em) and (min-width: 37.5em) {
  .site-header {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}

/*-------------
  Main navigation - ajustes generales
  ------------- */

/* .main-navigation ul ul ul {
  left: -999em;
  top: 0;
} */

/* .main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
} */

/* .main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
} */

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation li {
  position: relative;
  font-size: 1rem;
  /* margin: 0 1rem; */
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Menu to large devices  */
.main-navigation ul li > ul{
  display: flex;
  flex-direction: column;
}

.main-navigation ul li{
  padding: 1.5rem 1.1rem;
  background-color: #e433b5;
}
.main-navigation ul li:hover > ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(240, 240, 240);
  min-width: 100vw;
}
.main-navigation ul li:hover > ul li {
  padding: 1rem 1.1rem;
}
.main-navigation ul li:hover > ul a{
  color: #181617 !important;
}

/*---------------
Small menu
-------------- */
.menu-toggle {
  background-color: transparent;
  border: none;
  width: 35px;
  height: 25px;
  cursor: pointer;
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

button {
  line-height: 0 !important;
}

/*-------------- 
Icon Menu
-------------- */
.bars {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bars .bar {
  height: 2px;
  width: 100%;
  background-color: #fff;
}

.bars .bar:nth-child(2) {
  width: 70%;
}

/*--------------
 Toogle menu 
 ---------------*/

/*Hidden scroll body when actived toggle menu*/
.hidden_scroll_body_template {
  overflow: hidden;
}

.main-navigation.toggled {
  position: relative;
}

.main-navigation.toggled .menu-test-container {
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  line-height: 1.5;
  background-color: var(--bg-menu-container-toggle);
  position: absolute;
  margin-top: 1.2rem;
  top: 100%;
  right: -135%;
  /* min-width: calc(100vw - 40px) ; */
  min-width: 100vw;
  min-height: 90vh;
  height: 100%;
}

/* Responsive  - container menu toogle*/
@media (max-width: 47.5em) and (min-width: 37.5em) {
  .main-navigation.toggled .menu-test-container {
    margin-top: 1rem !important;
    padding-bottom: 1.5rem !important;
    min-height: 85vh;
  }
}

.main-navigation.toggled .menu-test-container ul {
  display: block;
  padding-bottom: 1.5rem;
  background-color: var(--bg-menu-container-toggle);
}

.main-navigation.toggled .menu-test-container ul li {
  margin: 0;
  padding: 1rem 1.1rem;
  clear: both;
  color: white;
  background-color: transparent;
}

.main-navigation.toggled .menu-test-container ul li:hover,
.main-navigation.toggled .menu-test-container ul li:active,
.main-navigation.toggled .menu-test-container ul li:focus {
  background-color: var(--bg-hover-menu-items-toggle);
}

.main-navigation.toggled .menu-test-container ul li:hover > ul {
  left: -999em;
  min-width: 0;
}

.main-navigation.toggled .menu-test-container ul li:hover > ul a{
  color: white !important;
}

.main-navigation.toggled .menu-test-container ul li:hover > a,
.main-navigation.toggled .menu-test-container ul li:active > a,
.main-navigation.toggled .menu-test-container ul li:focus > a {
  color: white !important;
}

/*--------------
 Submenus 
 --------------*/
.click-open-submenu {
  background-color: var(--bg-submenus-toggle) !important;
  display: block !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  /* padding: 1rem 0 !important; */
  left: -35px !important;
  position: relative !important;
  width: 110% !important;
}

.main-navigation.toggled .menu-test-container ul .menu-item-has-children {
  /* --bg-item: springgreen; */
  --deg-icon-arrow: 180deg;
}

.main-navigation.toggled .menu-test-container ul .menu-item-has-children::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: var(--bg-icon-dropdown);
}

.main-navigation.toggled .menu-test-container ul .menu-item-has-children::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi11cCI+DQogICAgPHBvbHlsaW5lIHBvaW50cz0iMTggMTUgMTIgOSA2IDE1IiBzdHJva2U9IndoaXRlIiBmaWxsPSJub25lIj48L3BvbHlsaW5lPg0KPC9zdmc+");
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--bg-item); */
  transform: rotate(var(--deg-icon-arrow));
  cursor: pointer;
  transition: all ease 0.2s;
}

.main-navigation.toggled .menu-test-container ul ul {
  /* background-color: rgb(92, 92, 94); */
  padding: 0;
  margin: 1rem 0 0 1.1rem !important;
}

.main-navigation.toggled .menu-test-container ul ul li:hover,
.main-navigation.toggled .menu-test-container ul ul li:active,
.main-navigation.toggled .menu-test-container ul ul li:focus {
  background-color: var(--bg-hover-submenus-items-toggle);
}

.main-navigation.toggled a {
  width: 100%;
  color: white;
}

/* min-width 37.5em (16px * 37.5em = 360px) corresponde a los dispositivos moviles de 360px maximo de ancho de pantalla */
/* @media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
} */

/* Esta media querie corresponde a dispositivos moviles (vista en horizontal y vertical). La operacion es la siguiente 16px * 47.5em = 760px */
@media screen and (min-width: 47.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

/* --------------
Site main
-------------- */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* --------------
  Custom header 
--------------*/

.has-header-media:not(.home) .custom-header {
  position: relative;
}

.custom-header {
  /* background-color: #6439e0; */
  background-image: linear-gradient(90deg, #6f47e9 0, #e433b5);
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.custom-header:before {
  /* background-color: #6439e0;
  background-image: linear-gradient(90deg, #6439e0 0, #e120ae); */
  content: "";
  position: absolute;
  display: block;
  left: 90%;
  top: 80%;
  transform: translateY(-80%) translateX(-90%);
  height: 80%;
  width: 50%;
}

.custom-header .post-thumbnail {
  margin: 0;
}

.wrapper {
  width: 100%;
}

.wrapper::before,
.wrapper::after {
  content: "";
  display: table;
  table-layout: fixed;
}

.custom-header-media {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.custom-header-content {
  position: relative;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  text-align: left;
  width: 100%;
  min-height: 100vh;
  /* z-index: 9; */
}

.custom-header-content .entry-header {
  background: transparent;
  padding: 0;
  color: white;
}

.custom-header-content .entry-container .entry-header .entry-title {
  font-size: 2.4rem;
  padding: 0.5rem 0;
}

.custom-header-content .entry-container .entry-summary {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1.4rem;
}

/* Trapezoid */
i.trapezoid {
  border-bottom: 150px solid #fff;
  width: 100%;
  height: 0;
  margin-left: 0;
  display: block;
  position: absolute;
  border-right: 25vw solid transparent;
  border-left: 75vw solid transparent;
  bottom: 0;
  z-index: 0;
}

/* See more */
.custom-header-content .entry-container .entry-summary > a {
  z-index: 2;
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  align-self: flex-start;
  border-radius: 100px;
  font-size: 1.1rem;
  padding: 0.5rem 1.1rem;
  margin-top: 1.8rem;
  font-weight: 600;
}

.custom-header-content .entry-container .entry-summary > a::before {
  content: "";
  transition: all 0.6s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 100px;
  z-index: -1;
}

.custom-header-content .entry-container .entry-summary > a:hover,
.custom-header-content .entry-container .entry-summary > a:active,
.custom-header-content .entry-container .entry-summary > a:focus {
  color: #6439e0;
  background-color: white;
  -webkit-transition: 0.3s color, 0.1s 0.6s background;
  -moz-transition: 0.3s color, 0.1s 0.6s background;
  -ms-transition: 0.3s color, 0.1s 0.6s background;
  -o-transition: 0.3s color, 0.1s 0.6s background;
  transition: 0.3s color, 0.1s 0.6s background;
}

.custom-header-content .entry-container .entry-summary > a:hover::before,
.custom-header-content .entry-container .entry-summary > a:active::before,
.custom-header-content .entry-container .entry-summary > a:focus::before {
  left: 0;
}

body:not(.home) .custom-header-content {
  padding: 60px;
}

/* Background Image */
.header-media-text-disabled .custom-header .wp-custom-header img {
  display: block;
  position: relative;
}

.has-header-media .custom-header .wp-custom-header img {
  display: none;
}

/* 
.scroll-down {
  position: absolute;
  bottom: 49px;
  cursor: pointer;
  left: 50%;
  line-height: 1;
  z-index: 999;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
} */

/*
Responsive header custom
*/

@media screen and (max-width: 37.5em) {
  .custom-header-content .entry-container .entry-header .entry-title {
    font-size: 1.5rem;
  }
  .custom-header-content .entry-container .entry-summary {
    font-size: 1rem;
  }

  .custom-header-content .entry-container .entry-summary a {
    font-size: 0.9rem;
  }

  /* Background Image */
  .custom-header::before {
    display: none;
  }

  /* Trapezoid */
  i.trapezoid {
    border-bottom: 100px solid #fff;
  }
}

@media (max-width: 47.5em) and (min-width: 37.5em) {
  .custom-header-content .entry-container .entry-header .entry-title {
    font-size: 1.5rem;
  }
  .custom-header-content .entry-container .entry-summary {
    font-size: 1rem;
  }
  .custom-header-content .entry-container .entry-summary a {
    font-size: 0.95rem;
  }
  /* Width main container */
  .home .custom-header-content .entry-container {
    max-width: 350px !important;
  }

  /* Trapezoid */
  i.trapezoid {
    border-bottom: 100px solid #fff;
  }
}
